<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="user-name">
    <p class="text-light" id="local-name"></p>
  </div>
  <button id="target" type="button" class="fas fa-plus fa-2x btn btn-success btn-circle btn-lg">
    <script>
      $("#target").click(function () {
        $('#new-goal-div').show()
      });
    </script>
  </button>
</nav>
</div>
<br><br>
<div id="new-goal-div" class="container collapse">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div style="margin-bottom: 15px;" class="card">
        <div class="card-header">
          Create New Goal!
        </div>
        <textarea name="" id="goal-input" cols="20" rows="3" placeholder="What's your current goal, USERNAME?"></textarea>
        <hr style="margin: 0px;">
        <div style="padding-top:0px; padding-bottom: 0px;"class="card-body row">
          <button style="font-size:12px; margin:15px;" class="btn btn-primary float-left" id="goal-submit">Share Goal</button>
          <button style="margin-right: 15px; margin-left: auto; margin-top:15px; margin-bottom: 15px;"class="btn btn-secondary fas fa-eye-slash float-right" id="hide-card">
            <script>
              $("#hide-card").click(function () {
                $('#new-goal-div').hide()
              });
            </script>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="main-goals">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Some guys goal
        </div>
        <textarea name="" id="" cols="20" rows="3" placeholder="Wow this is my awesome goal!"></textarea>
        <hr style="margin: 0px;">
        <div class="card-footer text-muted">
          15 hours ago.
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/dashboard.js"></script>