<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img style="height: 100px;" src="https://files.slack.com/files-pri/TEE96RL6N-FJ85XFSUS/improvu1.jpg">
    </h3>
    <br><br>
    <p class="lead float-left">"Where You Improve You!"</p>
  </div>
</div>
<div id="home">
  <div class="container">
    <div style="margin-bottom: 60px; margin-top:60px;" class="row">
      <div class="col-6">
        <h3>Title</h3>
        <h5>Maybe a Second Title or something</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae et temporibus accusantium eveniet nihil
          veritatis ducimus. Facilis, eligendi perspiciatis voluptas, ea earum quidem debitis necessitatibus ut ducimus
          dicta praesentium inventore.</p>
      </div>
      <div class="col-4 offset-md-2 ">
        <!-- <h1>{{msg}}</h1> -->
        <div class="card">
          <div class="card-header">
            Sign In
          </div>
          <!-- <<h1>{{msg}}</h1> -->

          <div class="card-body">
            {{!--  <h5 class="card-title"></h5> --}}
            <form class="clearfix mb-2" action="POST">
              <div class="form-group">
                <label for="example-text">Username</label>
                <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                  placeholder="Enter Your Username">
              </div>

              <div class="form-group">
                <label for="example-description">Password</label>
                <input type="password" class="form-control" id="example-description"
                  aria-describedby="example-description" placeholder="Enter Your Password"></input>
                {{!-- 
                <br><br>
                
                <input type="checkbox" onclick="passReveal()"> Show Password
                <script>
                  function passReveal() {
                    var x = document.getElementById("example-descrption");
                    if (x.type === "password") {
                      x.type = "text";
                    } else {
                      x.type = "password";
                    }
                  }
                </script> --}}
                <br>
              </div>
              <button id="submit" class="btn btn-success btn-block float-left">Sign In</button>
            </form>
            {{!-- <p class="card-text">With supporting text ßbelow as a natural lead-in to additional content.</p> --}}
            {{!--   <a href="#" class="btn btn-primary"></a> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container footer-container fixed-bottom">
  <div style="margin: 18px; margin-left:0px;" class="footer-links">
    <a style="margin-right: 15px" href="#">Placeholder-API-Link</a>
    <a style="margin-right: 15px" href="https://github.com/cwbabis/Improveu">Github</a>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>