<div style="padding: 15px; background-color: #EFE9DE;"  class="jumbotron jumbotron-fluid">

  <div class="container">
    <img style="height: 100px;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/791f45b0-ca20-4926-b07d-6da2ec7ddd10/dd6xq6h-6213b8d2-b2ac-4073-ad5a-07c3b48fa7c5.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc5MWY0NWIwLWNhMjAtNDkyNi1iMDdkLTZkYTJlYzdkZGQxMFwvZGQ2eHE2aC02MjEzYjhkMi1iMmFjLTQwNzMtYWQ1YS0wN2MzYjQ4ZmE3YzUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ecjGpyZnNIEyKzZHQlQaojR3k4L28psnb8s85jYkEMU">
    <p class="">"Where You Improve You!"</p>

  </div>
</div>
<div id="home">
  <div class="container">
    <div style="margin-bottom: 60px; margin-top:60px;" class="row">
      <div class="col-6">
        <h3>Welcome!</h3>
        <h5>Please Sign In and create a profile</h5><br>
        <p>You choose your goals and you choose your buddy. <br>
        
           Help each other along to be sure you stay on track to meet your goals. <br>
           
           We are commited to seeing you improve...you. </p>
      </div>
      <div class="col-4 offset-md-2 ">
        {{!-- <p><h3>Join Improveu Today!</h3></p> --}}
        <!-- <h1>{{msg}}</h1> -->
        <div class="card">
          <div class="card-header">
            Sign In
          </div>
          <!-- <<h1>{{msg}}</h1> -->

          <div class="card-body">
            {{!--  <h5 class="card-title"></h5> --}}
            <form class="clearfix mb-2" action="POST">
              <div class="form-group">
                <label for="example-text">Username</label>
                <input type="text" id="user-name" class="form-control" aria-describedby="example-text"
                  placeholder="Enter Your Username">
              </div>

              <div class="form-group">
                <label for="example-description">Password</label>
                <input type="password" class="form-control" id="example-description"
                  aria-describedby="example-description" placeholder="Enter Your Password"></input>
                {{!-- 
                <br><br>
                
                <input type="checkbox" onclick="passReveal()"> Show Password
                <script>
                  function passReveal() {
                    var x = document.getElementById("example-descrption");
                    if (x.type === "password") {
                      x.type = "text";
                    } else {
                      x.type = "password";
                    }
                  }
                </script> --}}
                <br>
              </div>
              <button id="user-submit" class="btn btn-success btn-block float-left">Sign In</button>
            </form>
            {{!-- <p class="card-text">With supporting text ßbelow as a natural lead-in to additional content.</p> --}}
            {{!--   <a href="#" class="btn btn-primary"></a> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container footer-container fixed-bottom">
  <div style="margin: 18px; margin-left:0px;" class="footer-links">
    <a style="margin-right: 15px" href="#">API-Link</a>
    <a style="margin-right: 15px" href="https://github.com/cwbabis/Improveu">Github</a>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>